

body{
    font-size:1em;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;


}

#cabecalho{
    height: 50px;
    background-color:#20B2AA;
    width: 100%;
    padding-left:15px;

}









#meio{
    background-color:#ffff33;

}

#direita{
    background-color: #666666;
}
.limpar{
    clear:both;
}

.imagem{
    height: 250px;
    width: 33.33%;
    float:left;
}

.texto{
    padding: 50px;
   
    

}
.menu{
    padding-top: 0px;
    float: left;

    background-color: white;
    width: 100%;
    border-top: 0px;





}

.btn {
    background-color:#2E8B57;
    border: none;

    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.5s;

}

.btn:hover {opacity: 1

}
a:visited{
    color:#32CD32;
}
a:link{
    color:#00ff99;
}
a:hover{
    font-size:2em;
}

.imglogo{
    margin-top: 1%;
    width:100px;
    height: 100px;
    
}